.board {
	background: black;
	border: 0.5rem solid black;
	margin: auto;
	width: 500px;
	height: 500px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 0.5rem;
}

.board.board-won {
	pointer-events: none;
}